.ui.pointing.red.basic.label{
   display: flex;
   justify-content: center;
   margin: 8px;
 }
 .field {
    label{
       color: gray;
       font-weight: 300;
       margin-top: 12px;
    }
    p {
       font-weight: 300;
    }
 }